In [98]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import dataframe_image as dfi
import anvil.mpl_util
import os
import time

from IPython.core.display import HTML, clear_output
from ipywidgets.widgets import Label, Layout
from ipywidgets.widgets import Button, Text, ToggleButtons
from ipywidgets.widgets import interact, interactive, fixed, interact_manual

### anvil connection

In [99]:
import anvil.server
import anvil.media

anvil.server.connect("RSXSXOAASK7XHYEZ7MOJZ7ML-5DKFG2XBRGY523NO")

### Dataframe initialiser

In [100]:
df = pd.read_csv("TestData.csv", sep=",")
pd.set_option('display.max_columns', 200) 
pd.set_option('display.max_rows', 200) 
df_sorted=df.sort_values(by=['Device'])
styled = style_table(df_sorted)
dfi.export(styled,"mytable.png")
data = 'Device'

### Table Styler

In [101]:
def style_table(dataframe):
    dataframe_styled = dataframe.style.set_table_styles(
           [{
               'selector': 'th',
               'props': [
                   ('font-size', '30pt'),
                   ('color', 'purple')]
           },
           {
               'selector': 'td',
               'props': [
                   ('font-size', '25pt'),
                   ('color', 'black')]
           }
           ])

    dataframe_styled.hide_index()
    return dataframe_styled

### Update table

In [102]:
def update_table(df_filter):
    global data
    df_update=df_filter.sort_values(by=[data])
    df_styled=style_table(df_update)
    
    os.remove("mytable.png")
    time.sleep(0.75)
    dfi.export(df_styled,"mytable.png")

### Textbox function

In [103]:
@anvil.server.callable
def handle_submit(value):
    input = str(value)
    df_filter=df[df.apply(lambda row: row.astype(str).str.contains(input).any(), axis=1)]
    update_table(df_filter)
    media_object = anvil.media.from_file('D:/GitHub/GUI-Heat-Tracing/Data/mytable.png')
    return media_object

Sort by function

In [104]:
@anvil.server.callable
def handle_submit2(value, sorter):
    input = str(value)
    global data 
    data = sorter
    df_filter=df[df.apply(lambda row: row.astype(str).str.contains(input).any(), axis=1)]
    update_table(df_filter)
    media_object = anvil.media.from_file('D:/GitHub/GUI-Heat-Tracing/Data/mytable.png')
    return media_object

### Get dataframe

In [105]:
@anvil.server.callable
def get_df():
    media_object = anvil.media.from_file('D:/GitHub/GUI-Heat-Tracing/Data/mytable.png')
    return media_object

In [110]:
df3 = pd.read_csv("TestData.csv", sep=",")
df3 = df[['Device','Location','Temperature','Average temperature', 'Battery', 'Date']]

df3['Battery']+=756
new_input_device = 'a'
new_input_location = 'Zwolle'
new_input_temperature = '137'
new_input_average_temperature = '130'
new_input_battery = '75'
new_input_date = '27/5/2021'

for index in df3.index:
    if df3.loc[index,'Device']== new_input_device:
        df3.loc[index,'Location'] = new_input_location
        df3.loc[index,'Temperature'] = new_input_temperature
        df3.loc[index,'Average temperature'] = new_input_average_temperature
        df3.loc[index,'Battery'] = new_input_battery
        df3.loc[index,'Date'] = new_input_date

    # elif df3.loc[index,'Name']=='Mr. Zachary J. Kirkhorn':
    #     df3.loc[index,'Title'] = 'The Money Man'
    # else:
    #     df3.loc[index,'Title'] = 'Another Dude'
# df3.to_csv('TestData.csv')
df3

  Device     Location Temperature Average temperature Battery       Date
0      a       Zwolle         137                 130      75  27/5/2021
1      b       Hattem         145                 150     851  12/4/2021
2      c  Verwegistan         195                 180     801  12/3/2021
3      d    Rotterdam         154                 145     832  12/4/2021
4      e    Groningen         135                 136     779  12/5/2021